/*
Theme Name: TorontoOnlineWP
Theme URI: 
Author: Mohammad Reza
Author URI: www.facebook.com
Description: My First WordPress Theme
Version: 1.0
Licence: GNU General Public Licence or Later
Tags: html5, css3, city, blog
*/

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
  font-size: 140%;
  line-height: 1.5;
  color: #000;
  background-color: white;
  margin: 0;
  padding: 0;
}
.container {
  width: 95%;
  margin: 0 auto;
}
.clear {
  clear: both;
}
/** Resets  **/
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  height: auto;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #a00622;
}
/** End of resets **/

/** Header **/
header {
  background-color: #a00622;
  overflow: auto;
}
header .logo img {
  margin: 0 auto;
  display: block;
}
header nav {
  padding-bottom: 20px;
}

header nav ul li {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

header nav ul li.current-menu-item {
  border-bottom: 2px solid #fff;
}

header nav ul li a {
  color: #fff;
  font-size: 1.8rem;
  padding: 5px 0;
}

h1 {
  font-size: 26px;
  font-size: 2.6rem;
  color: #a00622;
  text-align: center;
}
h2 {
  font-size: 20px;
  font-size: 2rem;
  color: #a00622;
  text-align: center;
}
h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-size: 1.8rem;
  color: #a00622;
}
p {
  color: #000000;
  font-size: 12px;
  text-align: justify;
}

.content {
  margin-top: 20px !important;
}

/* Sidebar */
#testimonials h3 {
  color: #a00622;
  font-size: 20px;
}

#testimonials .textwidget {
  line-height: 30px;
  color: #767676;
  background-image: url(img/svg_quote.svg);
  background-repeat: no-repeat;
  background-position: left top;
  padding-left: 86px;
  font-style: italic;
}

#testimonials .textwidget p {
  font-size: 2.4rem;
}

#testimonials .textwidget span {
  display: block;
  text-align: right;
  font-style: normal;
  font-weight: bold;
  margin-top: 20px;
}
/* End Sidebar */

/* Featured image */
.featured {
  position: relative;
  margin-bottom: 20px;
}

.featured h2 {
  position: absolute;
  left: 0;
  bottom: 10px;
  background-color: #a00622;
  color: #fff;
  padding: 10px 20px 10px 10px;
}

h2.noimage {
  color: #a00622;
  font-size: 3rem;
  text-align: center;
  padding: 30px 0;
  border: 2px solid #a00622;
}
/* End Featured image */

footer {
  clear: both;
}

footer nav {
  display: none;
}

footer hr {
  border: 2px solid #a00622;
}

footer p {
  text-align: center;
  font-size: 1.8rem;
}

/* What to visit page */
ul.blog-visit li {
  width: 100%;
  padding: 5px;
}

ul.blog-visit li .featured {
  position: relative;
  margin-bottom: 0;
}

ul.blog-visit li .featured .category {
  position: absolute;
  top: 10px;
  left: 10px;
}

ul.blog-visit li .featured .category a {
  text-decoration: none;
  background-color: #a00622;
  padding: 5px;
  color: #fff;
  font-size: 1.2rem;
}

ul.blog-visit li .content {
  padding: 10px 20px;
  margin-top: 20px !important;
}

ul.blog-visit li .content h2 {
  margin: 0;
  text-align: left;
}

ul.blog-visit li .content p {
  font-size: 1.4rem;
  text-align: justify;
}

ul.blog-visit li .post-information {
  background-color: #ebebeb;
  padding: 5px 20px;
  overflow: auto;
}

ul.blog-visit li .post-information p {
  font-size: 1.4rem;
  color: #000;
}

ul.blog-visit li .post-information .author {
  float: left;
  width: 40%;
}

ul.blog-visit li .post-information .author span {
  color: #a00622;
  font-weight: bold;
}

ul.blog-visit li .post-information .date {
  float: right;
  width: 60%;
  text-align: right;
  font-weight: bold;
}
/* End What to visit page */

/* single.php */
.single .written-info {
  background-color: #ebebeb;
  padding: 5px;
  font-size: 1.2rem;
  overflow: auto;
  margin-bottom: 20px;
}

.single .written-info .column {
  float: left;
  margin-right: 20px;
}

.single textarea {
  width: 100%;
}
/* End single.php */

/* Category page */

.blog article,
.category article {
  clear: both;
  margin-bottom: 20px;
  overflow: auto;
}

.blog article img,
.category article img {
  width: 100%;
}

.blog article .content-post,
.category article .content-post {
  width: 100%;
}

.blog h2 {
  margin: 0;
}

.blog .post-categories {
  margin-top: 10px;
}

.blog .post-categories li a {
  color: #fff;
  background-color: #a00622;
  padding: 5px;
  border-radius: 5px;
}
/* End Category page */

/* Contact Us */

.page-id-17 .primary {
  margin-bottom: 50px;
}
.page-id-17 h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}
.page-id-17 .wpcf7 {
  background-color: #f2f2f2;
  padding: 40px !important;
  width: 100%;
  margin: 0 auto !important;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0,0,0,.3);
}

.page-id-17 .wpcf7 p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #a00622;
  margin-bottom: 15px;
}

.wpcf7 span {
  display: block;
  clear: both;
}

.wpcf7 input,
.wpcf7 textarea {
  height: 32px;
  border: 1px solid #888;
  border-radius: 8px;
  width: 100%;
}

.wpcf7 textarea {
  height: 200px;
}

.wpcf7 input[type="submit"] {
  background-color: #a00622;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.8rem;
  border-radius: 15px;
  width: auto;
  padding: 0 40px;
  cursor: pointer;
  color: #fff;
}
/* End Contact Us */

/* Front Page */
/* Latest 2 posts */
.bottom-front-page {
  clear: both;
}

.bottom-front-page h2 {
  text-align: left;
}

.bottom-front-page li {
  width: 100%;
  margin-bottom: 20px;
}

.bottom-front-page li h3 {
  margin: 10px 0;
}

.bottom-front-page li .read-more,
a.more-link {
  font-weight: bold;
  display: block;
  text-align: right;
}
/* End Latest 2 posts */
/* End Front Page */

@media only screen and (min-width: 480px) {
    /* Our Blog */
    .blog article img,
    .category article img {
      float: left;
      width: 40%;
    }
  
    .blog article .content-post,
    .category article .content-post {
      float: left;
      width: 60%;
      padding-left: 20px;
    }
    /* End Our Blog */

  ul.blog-visit li {
    float: left;
    width: 50%;
  }

  /* Front Page */
  /* Latest 2 posts */
  .bottom-front-page .blog-tips {
    float: right;
    width: 70%;
  }

  .bottom-front-page li {
    float: left;
    width: 50%;
    padding: 0 10px;
  }
  /* End Latest 2 posts */

  .bottom-front-page .about-us {
    float: left;
    width: 30%;
    padding-right: 20px;
  }

  /* End Front Page */

}

@media only screen and (min-width: 768px) {
  header nav ul li {
    display: inline;
    margin-left: 20px;
  }

  /* Main content */
  .primary {
    float: left;
    width: 70%;
    padding-right: 20px;
  }

  .primary.no-sidebar {
    width: 100%;
  }

  .secondary {
    float: right;
    width: 30%;
    margin: 0;
    clear: none;
  }

  #testimonials {
    padding-top: 75px;
  }

  ul.blog-visit li {
    width: 33.33%;
  }

  /* Contact form */
  .page-id-17 .wpcf7 {
    width: 60%;
  }
  /* End Contact form */
}




@media only screen and (min-width: 992px) {
  /* Header Navigation */
  header .logo {
    width: 40%;
    float: left;
  }

  header nav {
    float: left;
    width: 60%;
    margin-top: 60px;
  }

  header nav ul {
    float: right;
  }

  /* Footer Navigation */
  footer nav {
    display: block;
    margin-top: 30px;
  }

  footer nav ul li {
    display: inline;
    margin-right: 20px;
  }

  footer nav ul li {
    color: #a00622;
    font-size: 1.6rem;
  }
  .container {
    width: 990px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1100px;
    margin: 0 auto;
  }
}
